.scannerwork/
SummaryOfProjectAnalysis.json
logs\\pclint-importer/
.idea/*
.vscode/
**/coverage.cov
**/*report.out
build/package/dist**
**/bin**
build/package/coverage_global.txt
build/package/coverage.html
